In [ ]:
import numpy as np
import pandas as pd

In [4]:
dset = pd.read_csv('/content/prosperLoanData.csv')
dset

                     ListingKey  ...  Investors
0       1021339766868145413AB3B  ...        258
1       10273602499503308B223C1  ...          1
2       0EE9337825851032864889A  ...         41
3       0EF5356002482715299901A  ...        158
4       0F023589499656230C5E3E2  ...         20
...                         ...  ...        ...
113932  E6D9357655724827169606C  ...          1
113933  E6DB353036033497292EE43  ...         22
113934  E6E13596170052029692BB1  ...        119
113935  E6EB3531504622671970D9E  ...        274
113936  E6ED3600409833199F711B7  ...          1

[113937 rows x 81 columns]

In [5]:
dset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 81 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   ListingKey                           113937 non-null  object
 1   ListingNumber                        113937 non-null  int64
 2   ListingCreationDate                  113937 non-null  object
 3   CreditGrade                          28953 non-null   object
 4   Term                                 113937 non-null  int64
 5   LoanStatus                           113937 non-null  object
 6   ClosedDate                           55089 non-null   object
 7   BorrowerAPR                          113912 non-null  float64
 8   BorrowerRate                         113937 non-null  float64
 9   LenderYield                          113937 non-null  float64
 10  EstimatedEffectiveYield              84853 non-null   float64
 11  EstimatedLoss                        84853 non-null   float64
 12  EstimatedReturn                      84853 non-null   float64
 13  ProsperRating (numeric)              84853 non-null   float64
 14  ProsperRating (Alpha)                84853 non-null   object
 15  ProsperScore                         84853 non-null   float64
 16  ListingCategory (numeric)            113937 non-null  int64
 17  BorrowerState                        108422 non-null  object
 18  Occupation                           110349 non-null  object
 19  EmploymentStatus                     111682 non-null  object
 20  EmploymentStatusDuration             106312 non-null  float64
 21  IsBorrowerHomeowner                  113937 non-null  bool
 22  CurrentlyInGroup                     113937 non-null  bool
 23  GroupKey                             13341 non-null   object
 24  DateCreditPulled                     113937 non-null  object
 25  CreditScoreRangeLower                113346 non-null  float64
 26  CreditScoreRangeUpper                113346 non-null  float64
 27  FirstRecordedCreditLine              113240 non-null  object
 28  CurrentCreditLines                   106333 non-null  float64
 29  OpenCreditLines                      106333 non-null  float64
 30  TotalCreditLinespast7years           113240 non-null  float64
 31  OpenRevolvingAccounts                113937 non-null  int64
 32  OpenRevolvingMonthlyPayment          113937 non-null  float64
 33  InquiriesLast6Months                 113240 non-null  float64
 34  TotalInquiries                       112778 non-null  float64
 35  CurrentDelinquencies                 113240 non-null  float64
 36  AmountDelinquent                     106315 non-null  float64
 37  DelinquenciesLast7Years              112947 non-null  float64
 38  PublicRecordsLast10Years             113240 non-null  float64
 39  PublicRecordsLast12Months            106333 non-null  float64
 40  RevolvingCreditBalance               106333 non-null  float64
 41  BankcardUtilization                  106333 non-null  float64
 42  AvailableBankcardCredit              106393 non-null  float64
 43  TotalTrades                          106393 non-null  float64
 44  TradesNeverDelinquent (percentage)   106393 non-null  float64
 45  TradesOpenedLast6Months              106393 non-null  float64
 46  DebtToIncomeRatio                    105383 non-null  float64
 47  IncomeRange                          113937 non-null  object
 48  IncomeVerifiable                     113937 non-null  bool
 49  StatedMonthlyIncome                  113937 non-null  float64
 50  LoanKey                              113937 non-null  object
 51  TotalProsperLoans                    22085 non-null   float64
 52  TotalProsperPaymentsBilled           22085 non-null   float64
 53  OnTimeProsperPayments                22085 non-null   float64
 54  ProsperPaymentsLessThanOneMonthLate  22085 non-null   float64
 55  ProsperPaymentsOneMonthPlusLate      22085 non-null   float64
 56  ProsperPrincipalBorrowed             22085 non-null   float64
 57  ProsperPrincipalOutstanding          22085 non-null   float64
 58  ScorexChangeAtTimeOfListing          18928 non-null   float64
 59  LoanCurrentDaysDelinquent            113937 non-null  int64
 60  LoanFirstDefaultedCycleNumber        16952 non-null   float64
 61  LoanMonthsSinceOrigination           113937 non-null  int64
 62  LoanNumber                           113937 non-null  int64
 63  LoanOriginalAmount                   113937 non-null  int64
 64  LoanOriginationDate                  113937 non-null  object
 65  LoanOriginationQuarter               113937 non-null  object
 66  MemberKey                            113937 non-null  object
 67  MonthlyLoanPayment                   113937 non-null  float64
 68  LP_CustomerPayments                  113937 non-null  float64
 69  LP_CustomerPrincipalPayments         113937 non-null  float64
 70  LP_InterestandFees                   113937 non-null  float64
 71  LP_ServiceFees                       113937 non-null  float64
 72  LP_CollectionFees                    113937 non-null  float64
 73  LP_GrossPrincipalLoss                113937 non-null  float64
 74  LP_NetPrincipalLoss                  113937 non-null  float64
 75  LP_NonPrincipalRecoverypayments      113937 non-null  float64
 76  PercentFunded                        113937 non-null  float64
 77  Recommendations                      113937 non-null  int64
 78  InvestmentFromFriendsCount           113937 non-null  int64
 79  InvestmentFromFriendsAmount          113937 non-null  float64
 80  Investors                            113937 non-null  int64
dtypes: bool(3), float64(50), int64(11), object(17)
memory usage: 68.1+ MB

In [7]:
dset.isna().sum().sort_values(ascending=False)  #sum of NULL values for each column sorted in Descending order

GroupKey                               100596
LoanFirstDefaultedCycleNumber           96985
ScorexChangeAtTimeOfListing             95009
ProsperPaymentsLessThanOneMonthLate     91852
ProsperPaymentsOneMonthPlusLate         91852
                                        ...
StatedMonthlyIncome                         0
IncomeVerifiable                            0
IncomeRange                                 0
InvestmentFromFriendsAmount                 0
ListingKey                                  0
Length: 81, dtype: int64



---


Borrower APR is equal to the borrower rate + fees

But, we don't have the fees so we will calculate the fees using:

*borrower_fees = BorrowerAPR - BorrowerRate*

Then we will calculate the average of Borrower fees.

---

In [8]:
borrower_fees = dset["BorrowerAPR"] - dset["BorrowerRate"]
borrower_fees.median()

0.025019999999999987



---
Now we will remove the NULL values in BorrowerRate column by filling the them with values calculated using:

Borrower rate + Borrower Fees(average)


---

In [9]:
dset['BorrowerAPR'].fillna(dset['BorrowerRate'] + borrower_fees.median(), inplace=True)
dset["BorrowerAPR"].isnull().sum()

0



---
Now we will calculate EstimatedEffectiveYield column's NULL values using:

BorrowerRate - some expected loss from interest charge-offs and fees.


Interest Charge-off Fees can be calculated as:

BorrowerRate - EstimatedEffectiveYield


---

In [10]:
estimated_loss_from_fees = dset['BorrowerRate'] - dset['EstimatedEffectiveYield']
estimated_loss_from_fees.median()

0.01915

In [11]:
dset['EstimatedEffectiveYield'].fillna(dset['BorrowerRate'] - estimated_loss_from_fees.median(), inplace=True)
dset['EstimatedEffectiveYield'].isnull().sum()

0

In [12]:
dset['EstimatedLoss'].fillna(dset['EstimatedLoss'].median(), inplace=True)
dset['EstimatedLoss'].isna().sum()

0



---
EstimatedReturn can be calculated as:

EstimatedEffectiveYield - EstimatedLoss


---

In [13]:
dset['EstimatedReturn'].fillna(dset['EstimatedEffectiveYield'] - dset['EstimatedLoss'], inplace=True)
dset['EstimatedReturn'].isna().sum()

0

In [15]:
dset['ProsperScore'].fillna(dset['ProsperScore'].median(), inplace=True)
dset['ProsperScore'].isna().sum()

0

In [16]:
dset['ProsperRating (numeric)'].fillna(dset['ProsperRating (numeric)'].median(), inplace=True)
dset['ProsperRating (numeric)'].isna().sum()

0